In [1]:
!pip install folktables

Collecting folktables
  Using cached folktables-0.0.11.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from folktables) (1.22.3)
Requirement already satisfied: pandas in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from folktables) (1.4.2)
Requirement already satisfied: requests in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from folktables) (2.28.1)
Collecting sklearn
  Using cached sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from pandas->folktables) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from pandas->folktables) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from requests->folktables) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from requests->folktables) (1.26.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from requests->folktables) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from requests->folktables) (2022.6.15)
Requirement already satisfied: six>=1.5 in /Users/adam/opt/anaconda3/envs/ptb/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->folktables) (1.16.0)
Building wheels for collected packages: folktables, sklearn
  Building wheel for folktables (setup.py) ... done
  Created wheel for folktables: filename=folktables-0.0.11-py3-none-any.whl size=6772 sha256=6e457fc5816c2fbecd0797e6868e29e4f14b984b4c0fe4996ddc05ab00dae77f
  Stored in directory: /Users/adam/Library/Caches/pip/wheels/b0/55/08/c44fa7858e770975969422daf5b81afee02b38d343e6dd651d
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2959 sha256=8fd8d85966d2d65ebd8342ba1f415039c9b49f0d0b1c31c71366551098491956
  Stored in directory: /Users/adam/Library/Caches/pip/wheels/c5/88/35/cc8a1e198b27a1d3d9d3f9b30090b9d5531778847835472ec4
Successfully built folktables sklearn
Installing collected packages: sklearn, folktables
Successfully installed folktables-0.0.11 sklearn-0.0.post1

In [3]:
!pip install us

Collecting us
  Downloading us-2.0.2.tar.gz (14 kB)
  Preparing metadata (setup.py) ... done
Collecting jellyfish==0.6.1
  Downloading jellyfish-0.6.1.tar.gz (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.6/132.6 KB 3.1 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py) ... done
  Created wheel for us: filename=us-2.0.2-py3-none-any.whl size=11942 sha256=cf1f77ef98865c7ab8ec3384a3dfef6cf6a95f2b4abed5cdae4855e0111c1b78
  Stored in directory: /Users/adam/Library/Caches/pip/wheels/b0/2a/8b/46c38c4bc2d65459d10a393292c197faf7d1071bc6177f84a4
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.6.1-cp310-cp310-macosx_10_9_x86_64.whl size=22562 sha256=348bed07d4cc6f1a321b448d04003902642cfdae43433ac4390d5dc18a9c5704
  Stored in directory: /Users/adam/Library/Caches/pip/wheels/b4/50/f2/2a1bd2c756df70adc1f703e09453b6f68255385789b32107ae
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2

In [4]:
from folktables import ACSDataSource, ACSIncome
from sklearn.preprocessing import LabelEncoder
import us
import numpy as np
import pandas as pd

In [5]:
import us

In [6]:
states = [state.abbr for state in us.states.STATES]
data_source = ACSDataSource(survey_year='2018', horizon='1-Year', survey='person')
data = data_source.get_data(states=states, download=True)
features, labels, _ = ACSIncome.df_to_numpy(data)

Downloading data for 2018 1-Year person survey for AL...
Downloading data for 2018 1-Year person survey for AK...
Downloading data for 2018 1-Year person survey for AZ...
Downloading data for 2018 1-Year person survey for AR...
Downloading data for 2018 1-Year person survey for CA...
Downloading data for 2018 1-Year person survey for CO...
Downloading data for 2018 1-Year person survey for CT...
Downloading data for 2018 1-Year person survey for DE...
Downloading data for 2018 1-Year person survey for FL...
Downloading data for 2018 1-Year person survey for GA...
Downloading data for 2018 1-Year person survey for HI...
Downloading data for 2018 1-Year person survey for ID...
Downloading data for 2018 1-Year person survey for IL...
Downloading data for 2018 1-Year person survey for IN...
Downloading data for 2018 1-Year person survey for IA...
Downloading data for 2018 1-Year person survey for KS...
Downloading data for 2018 1-Year person survey for KY...
Downloading data for 2018 1-Year person survey for LA...
Downloading data for 2018 1-Year person survey for ME...
Downloading data for 2018 1-Year person survey for MD...
Downloading data for 2018 1-Year person survey for MA...
Downloading data for 2018 1-Year person survey for MI...
Downloading data for 2018 1-Year person survey for MN...
Downloading data for 2018 1-Year person survey for MS...
Downloading data for 2018 1-Year person survey for MO...
Downloading data for 2018 1-Year person survey for MT...
Downloading data for 2018 1-Year person survey for NE...
Downloading data for 2018 1-Year person survey for NV...
Downloading data for 2018 1-Year person survey for NH...
Downloading data for 2018 1-Year person survey for NJ...
Downloading data for 2018 1-Year person survey for NM...
Downloading data for 2018 1-Year person survey for NY...
Downloading data for 2018 1-Year person survey for NC...
Downloading data for 2018 1-Year person survey for ND...
Downloading data for 2018 1-Year person survey for OH...
Downloading data for 2018 1-Year person survey for OK...
Downloading data for 2018 1-Year person survey for OR...
Downloading data for 2018 1-Year person survey for PA...
Downloading data for 2018 1-Year person survey for RI...
Downloading data for 2018 1-Year person survey for SC...
Downloading data for 2018 1-Year person survey for SD...
Downloading data for 2018 1-Year person survey for TN...
Downloading data for 2018 1-Year person survey for TX...
Downloading data for 2018 1-Year person survey for UT...
Downloading data for 2018 1-Year person survey for VT...
Downloading data for 2018 1-Year person survey for VA...
Downloading data for 2018 1-Year person survey for WA...
Downloading data for 2018 1-Year person survey for WV...
Downloading data for 2018 1-Year person survey for WI...
Downloading data for 2018 1-Year person survey for WY...

In [8]:
features, labels, _ = ACSIncome.df_to_numpy(data)

In [9]:
# save as pandas dataframe
data_cat = np.c_[features, labels]
feats = ['AGEP', 'COW', 'SCHL', 'MAR', 'OCCP', 'POBP', 'RELP', 'WKHP', 'SEX', 'RAC1P', 'INCOME']
df = pd.DataFrame(data_cat, columns=feats)

In [10]:
# keep only certain features for analysis
keep_feats = ["AGEP", "COW", "SCHL", "MAR", "WKHP", "SEX", "INCOME"]
df = df[keep_feats]

In [15]:
col = ["age", "workclass", "education-num", "marital-status", "hours-per-week", "sex", "INCOME"]

In [16]:
df.columns = col

In [21]:
df.workclass = df.workclass.astype(int).astype(str)

In [28]:
df.loc[:, ["age", "workclass", "education-num", "marital-status","sex", "hours-per-week", "INCOME"]]

,age,workclass,education-num,marital-status,sex,hours-per-week,INCOME
0,18.0,1,18.0,5,2.0,21.0,0.0
1,53.0,5,17.0,5,1.0,40.0,0.0
2,41.0,1,16.0,5,1.0,40.0,0.0
3,18.0,6,18.0,5,2.0,2.0,0.0
4,21.0,5,19.0,5,1.0,50.0,0.0
...,...,...,...,...,...,...,...
1655424,55.0,2,20.0,1,2.0,30.0,0.0
1655425,41.0,1,18.0,3,1.0,40.0,0.0
1655426,34.0,4,21.0,5,2.0,50.0,0.0
1655427,49.0,1,19.0,3,2.0,40.0,0.0
1655428,19.0,3,16.0,5,2.0,40.0,0.0

In [25]:
df["marital-status"] = df["marital-status"].astype(int).astype(str)

In [26]:
df["marital-status"].unique()

array(['5', '4', '3', '1', '2'], dtype=object)

In [30]:
df = df.loc[:, ["age", "workclass", "education-num", "marital-status","sex", "hours-per-week", "INCOME"]]

In [32]:
df["sex"] = df.sex.map({2:"Female", 1: "Male"})

In [36]:
df["INCOME"] = df.INCOME.map({1:">50K", 0: "<=50K"})

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, df["INCOME"], test_size=0.33, random_state=42)

In [70]:
X_train.to_csv("adult.data", header=None)

In [71]:
X_test.to_csv("adult.test", header=None)

In [72]:
X_train.shape

(1109137, 7)

In [50]:
acs = pd.read_csv("../data/processed/ACSIncome_NY_2018_sampled.csv", index_col=0)

In [51]:
acs

       AGEP  COW  SCHL  MAR  WKHP     SEX  INCOME
35956  29.0  1.0  23.0  5.0  30.0  Female     0.0
26391  27.0  1.0  19.0  5.0  17.0  Female     0.0
82171  22.0  1.0  16.0  5.0  40.0  Female     0.0
67041  21.0  2.0  19.0  5.0  40.0  Female     0.0
80323  49.0  1.0  21.0  5.0  40.0  Female     0.0
...     ...  ...   ...  ...   ...     ...     ...
40890  28.0  1.0  21.0  5.0  40.0    Male     1.0
75335  53.0  7.0  23.0  5.0  50.0    Male     1.0
88529  34.0  3.0  19.0  1.0  40.0    Male     1.0
57890  36.0  1.0  22.0  1.0  60.0    Male     1.0
38869  57.0  7.0  21.0  5.0  40.0    Male     1.0

[103021 rows x 7 columns]

In [52]:
col = ["age", "workclass", "education-num", "marital-status", "hours-per-week", "sex", "INCOME"]

In [57]:
acs.columns = col

In [58]:
acs = acs.loc[:, ["age", "workclass", "education-num", "marital-status","sex", "hours-per-week", "INCOME"]]

In [64]:
acs["INCOME"] = acs.INCOME.map({1:">50K", 0: "<=50K"})

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(acs, acs["INCOME"], test_size=0.33, random_state=42)

In [66]:
X_train.shape

(69024, 7)

In [67]:
X_train.to_csv("adult.data", header=None)

In [68]:
X_test.to_csv("adult.test", header=None)